@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  font-family: "Inter", sans-serif;
}

.body-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  height: calc(100% - 200px);
  width: calc(100% - 200px);
  margin: 100px;
}

#welcome {
  font-size: 40px;
  font-weight: 500;
}